OnLineOrder.MVC/Connected Services/OnLineOrderService/OnLineOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OnLineOrderProductRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnLineOrderProductRequest" nillable="true" type="tns:OnLineOrderProductRequest" />
</xs:schema>