OnLineOrder.MVC/Connected Services/OnLineOrderService/OnLineOrder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OnLineOrderLoginSesssionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfOnLineOrderError" />
      <xs:element minOccurs="0" name="IsSucessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnLineOrderLoginSesssionKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnLineOrderLoginSesssionResponse" nillable="true" type="tns:OnLineOrderLoginSesssionResponse" />
  <xs:complexType name="ArrayOfOnLineOrderError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnLineOrderError" nillable="true" type="tns:OnLineOrderError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOnLineOrderError" nillable="true" type="tns:ArrayOfOnLineOrderError" />
  <xs:complexType name="OnLineOrderError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnLineOrderError" nillable="true" type="tns:OnLineOrderError" />
</xs:schema>