OnLineOrder.MVC/Connected Services/OnLineOrderService/OnLineOrder5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OnLineOrderWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnLineOrderWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64495/OnLineOrder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Models" />
  <xs:complexType name="OnLineOrderCreateProductResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Models" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfOnLineOrderError" />
      <xs:element minOccurs="0" name="IsSucessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnLineOrderCreateProductResponse" nillable="true" type="tns:OnLineOrderCreateProductResponse" />
</xs:schema>