OnLineOrder.MVC/Connected Services/OnLineOrderService/OnLineOrder2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64495/OnLineOrder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Models" />
  <xs:complexType name="OnLineOrderGetAvailableProductsResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Models" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfOnLineOrderError" />
      <xs:element minOccurs="0" name="GetAllProducts" nillable="true" type="tns:ArrayOfProductsResponses" />
      <xs:element minOccurs="0" name="GetProduct" nillable="true" type="tns:ProductsResponses" />
      <xs:element minOccurs="0" name="IsSucessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnLineOrderGetAvailableProductsResponse" nillable="true" type="tns:OnLineOrderGetAvailableProductsResponse" />
  <xs:complexType name="ArrayOfProductsResponses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductsResponses" nillable="true" type="tns:ProductsResponses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductsResponses" nillable="true" type="tns:ArrayOfProductsResponses" />
  <xs:complexType name="ProductsResponses">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsResponses" nillable="true" type="tns:ProductsResponses" />
  <xs:complexType name="OnLineOrderGetAvailableProductsByProductIdResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OnLineOrderWCF.Models" minOccurs="0" name="Errors" nillable="true" type="q2:ArrayOfOnLineOrderError" />
      <xs:element minOccurs="0" name="GetProduct" nillable="true" type="tns:ProductsResponses" />
      <xs:element minOccurs="0" name="IsSucessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnLineOrderGetAvailableProductsByProductIdResponse" nillable="true" type="tns:OnLineOrderGetAvailableProductsByProductIdResponse" />
</xs:schema>